<div class="container">
  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-9">
      <app-car></app-car>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" style=" margin-right: 2px;">
      <app-brand></app-brand>
    </div>
    <div class="col-md-3" style="margin-left: 2px; margin-right: 2px;">
      <app-color></app-color>
    </div>
    <div class="col-md-4" style="margin-left: 2px;">
      <app-customer></app-customer>
    </div>
    <div class="row">
      <div class="col-md-6" style=" margin-right: 2px;">
        <app-rental></app-rental>
      </div>
    </div>
  </div>
  

  <router-outlet></router-outlet>
</div>
